<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-color" >
    <ion-title>Modifier un processus</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="my-form">
      <form (ngSubmit)="update()">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Nom de processus</ion-label>
            <ion-input type="text" name="reference" [(ngModel)]="process.nom" ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Recommendation</ion-label>
            <ion-input type="text" name="category" [(ngModel)]="process.recommendation"  ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Point Fort</ion-label>
            <ion-input type="text" name="Famille"  [(ngModel)]="process.strength"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Point Faible</ion-label>
            <ion-input type="text" name="designation" [(ngModel)]="process.weakness" ></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit" >modifier</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
