ion-header{
  ion-toolbar{
    --background: rgb(72, 99, 160);
    color: white;
  }
  .color{
    color: white;
  }
  }
  .my-form {
    --ion-color-primary: rgb(72, 99, 160); /* Couleur de fond */
    --ion-color-primary-contrast: #ffffff; /* Couleur du texte */
  }
