<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/add-control">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveidChecklists()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-details">
  <table>
    <tr>
      <td> </td>
      <td> Category</td>
      <td>Criteria </td>
      <td> Measures</td>


    </tr>
    <tr *ngFor="let item of controlCheckList; index as i">
      <td>
        <ion-checkbox color="secondary" (ionChange)="toggleSelection(item)" [checked]="isSelected(item)"></ion-checkbox>
      </td>
      <td class="reference-value">{{ item.category }}</td>
      <td class="reference-text">{{ item.criteria }}</td>
      <td class="reference-value">{{ item.measures }}</td>


    </tr>

  </table>

  <ion-row>
    <ion-col>
      <ion-button (click)="saveSelectedChecklists()" class="my-form" expand="block" color="primary" type="submit">    valider
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

