<ion-header>
  <ion-toolbar>
    <ion-title class="title">Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveidChecklists()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-details">
  <table>

    <tr *ngFor="let item of controlCheckList; index as i">
      <td>
        <ion-checkbox color="secondary" (ionChange)="toggleSelection(item)" [checked]="isSelected(item)"></ion-checkbox>
      </td>

      <td class="reference-text">{{ item.category }}</td>
      <td class="reference-value">{{ item.conformity }}</td>


      <td>
        <ion-button fill="clear" color="primary"   class="button-spacing">
          <ion-icon name="create"></ion-icon>
        </ion-button>

      </td>

      <td>
        <!-- Bouton de suppression -->
        <ion-button fill="clear" color="danger"  class="button-spacing">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </td>

    </tr>

  </table>
  <ion-button fill="clear" color="primary"   class="button-spacing" (click)="saveSelectedChecklists()">
    valider
  </ion-button>
</ion-content>

