<ion-header>
  <ion-toolbar>
    <ion-title class="title"> Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-checklist" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="item-details">
  <ion-list>
    <ion-item>
      <ion-label class="item-label">
        <div class="item-container">
          <div class="flex-container">

              <p class="reference-text"> item.designation</p>
              <p class="reference-value"> item.reference</p>
              <!-- Bouton de modification -->
              <!--  <ion-button fill="clear" color="primary" routerLink="/updat-produit" class="button-spacing">
                <ion-icon name="create"></ion-icon>
              </ion-button> -->
              <!-- Bouton de suppression -->
             <!--  <ion-button fill="clear" color="danger" (click)="delete()" class="button-spacing">
                <ion-icon name="trash"></ion-icon>
              </ion-button> -->
            </div>
        </div>
      </ion-label>
    </ion-item>

  </ion-list>



</ion-content>
