<ion-menu contentId="main-content">
  <ion-content contentId="main-content" class="ion-padding">
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="../assets/qalitas.jpeg" alt="">
      <ion-label>
        <h2>TIM GROUP</h2>
        <p>Qalitas</p>
      </ion-label>
    </div>

    <div class="action-button">
      <ion-button routerLink="/tabbord">
        <ion-icon slot="start" name="add"></ion-icon>HOME
      </ion-button>
    </div>
    <ion-list class="menu-items menu-icons" lines="none">
      <ion-accordion-group>
        <ion-item routerLink="/control"  >
          <ion-icon slot="start" name="document-text"></ion-icon>
          <ion-label>Contrôle Qualité</ion-label>
        </ion-item>

        <ion-item routerLink="/audit"  >
          <ion-icon slot="start" name="document-text"></ion-icon>
          <ion-label>les audits</ion-label>
        </ion-item>
        <ion-item routerLink="/user"  >
          <ion-icon slot="start" name="document-text"></ion-icon>
          <ion-label>user</ion-label>
        </ion-item>

        <!-- Log Out button -->
        <ion-item button >
          <ion-icon slot="start" name="exit"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>

      </ion-accordion-group>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Ajouter un nouveau contrôle</ion-title>
    </ion-toolbar>
  </ion-header>




<ion-content>
    <!-- Ajout des champs de référence produit et description -->

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="cube" slot="start" class="custom-icon" ></ion-icon> Produit
      </ion-label>
      <ion-button slot="end" fill="clear" routerLink="/produits">
        <ion-icon  name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-input class="custom-input" [(ngModel)]="selectedProduit.reference"></ion-input>

    </ion-item>
    <form (ngSubmit)="ajouter()">

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="barcode" slot="start" class="custom-icon"></ion-icon> Reference
      </ion-label>
      <ion-input class="custom-input" name="reference" [(ngModel)]="control.reference"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">
        <ion-icon name="pencil" slot="start" class="custom-icon" ></ion-icon> Description
      </ion-label>
      <ion-input class="custom-input" name="description" [(ngModel)]="control.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="link" slot="start" class="custom-icon"></ion-icon> internalReference
      </ion-label>
      <ion-input  class="custom-input" name="internalReference" [(ngModel)]="control.internalReference"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="link" slot="start" class="custom-icon"></ion-icon> State
      </ion-label>
      <ion-input  class="custom-input" name="state" [(ngModel)]="control.state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="custom-label">Date</ion-label>
      <ion-input #dateInput type="date" name="date" placeholder="Select Date" class="custom-input"  [(ngModel)]="control.date"></ion-input>
    </ion-item>


  <!-- Listes de contrôle -->
  <ion-toolbar>
    <ion-title>

      <ion-icon name="clipboard-outline"></ion-icon> Quality Control
    </ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item routerLink="/checklist"  class="item-color">
      <ion-label>
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        Check Lists
      </ion-label>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon" (click)="getChecklist()"></ion-icon> <!-- Flèche -->
    </ion-item>

    <ion-item routerLink="/equipe" class="item-color2">
      <ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
        Responsable Contrôle </ion-label>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button class="my-form" expand="block" color="primary" type="submit">Ajouter</ion-button>
    </ion-col>
  </ion-row>
</form>

</ion-content>
