<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajout d'un nouvel contrôle
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ajout des champs de référence produit et description -->
  <form [formGroup]="auditForm" (ngSubmit)="onFormSubmit()">

    <ion-item>
      <ion-label position="stacked">Référence</ion-label>
      <ion-input formControlName="category" placeholder="Entrer la référence du produit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Produit</ion-label>
      <ion-input formControlName="designation" placeholder="Entrer le produit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="state" placeholder="Entrer la description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Chaine</ion-label>
      <ion-input formControlName="reference" placeholder="Entrer la chaine"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-input #dateInput type="date" placeholder="Sélectionner une date"></ion-input>
    </ion-item>

    <!-- Listes de contrôle -->
    <ion-toolbar>
      <ion-title>
        <ion-icon name="clipboard-outline"></ion-icon> Contrôle Qualité
      </ion-title>
    </ion-toolbar>

    <ion-list>
      <ion-item routerLink="/auditprocess">
        <ion-label>
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          Processus audités
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
      </ion-item>

      <ion-item routerLink="/defaut">
        <ion-label>
          <ion-icon name="alert-circle-outline"></ion-icon>
          Equipe d'audit
        </ion-label>
        <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button type="submit">Ajouter</ion-button>
  </form>
</ion-content>
