ion-header{
  ion-toolbar{
    --background: #4863A0;
    color: white;
  }
.color{
  color: white;
}
}

ion-content {
  --ion-background-color: #f4f4f4;
  padding: 20px;
}

.item-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-title {
  font-weight: bold;
}

ion-item {
  margin-bottom: 15px;
}

.checkbox-container {
  display: inline-block;
  margin-right: 10px;
}

/* Optional: Style for hover effect on checkboxes */
.checkbox-container:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.item-details .item-row {
  display: flex;
  justify-content: space-between;
}


/* Style général des icônes */
.icon-blue {
  color: blue;
  cursor: pointer;
  font-size: 24px; /* Taille par défaut des icônes */
}

/* Style spécifique pour l'icône "arrow-up" */
.icon-blue[name="arrow-up"] {
  margin-right: 5px; /* Ajoute une marge à droite pour espacer l'icône "arrow-up" */
}

/* Style spécifique pour l'icône "arrow-down" */
.icon-blue[name="arrow-down"] {
  margin-left: 5px; /* Ajoute une marge à gauche pour espacer l'icône "arrow-down" */
}

/* Animation au survol des icônes */
.icon-blue:hover {
  transform: scale(1.1); /* Augmente légèrement la taille de l'icône au survol */
}
