<ion-menu contentId="main-content">

  <ion-content class="ion-padding">

    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="../assets/qalitas.jpeg" alt="">
      <ion-label>
        <h2>TIM GROUP</h2>
        <p>Qalitas</p>
      </ion-label>
    </div>

    <div class="action-button">
      <ion-button routerLink="/tableau-bord">
        <ion-icon slot="start" name="add"></ion-icon>HOME
      </ion-button>
    </div>

    <ion-list class="menu-items menu-icons" lines="none">
      <ion-accordion-group>


        <ion-item routerLink="/mycontrol"  >
          <ion-icon slot="start" name="document-text"></ion-icon>
          <ion-label>Contrôle Qualité</ion-label>
        </ion-item>

        <ion-item routerLink="/add-audit"  >
          <ion-icon slot="start" name="document-text"></ion-icon>
          <ion-label>les audits</ion-label>
        </ion-item>


        <!-- Log Out button -->
        <ion-item button >
          <ion-icon slot="start" name="exit"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>

      </ion-accordion-group>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contrôles Qualités</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="color" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-details">
  <ion-list>
    <ion-item  *ngFor="let item of data; index as i ">
      <ion-label class="item-label">
        <div class="item-container">
          <div class="item-header">
            <div class="item-title" style="font-size: 18px; color: #4863A0;">  State :  <span style="color: black;"> {{item.state}} </span> </div>
              <p  style="font-size: 18px; color: #4863A0;"> reference :  <span style="color: black;"> {{item.reference}} </span> </p>
              <p style="font-size: 18px; color: #4863A0;" >Internal Reference : <span style="color: black;"> {{ item.internalReference}}</span></p>
            </div>

              <p  style="font-size: 18px; color: #4863A0;" >Date :  <span style="color: black;">{{item.date}} </span> </p>
              <p  style="font-size: 18px; color: #4863A0;"> Description :  <span style="color: black;">{{item.description}}</span></p>

          <div>

            <ion-button (click)="navigateToChecklist(item.idQualityControl)" style="--background:#bfd7ea; --color: #1b3a51; font-size: 20px;">
              <ion-icon name="list" style="--color: #4d83ab;"></ion-icon>
            </ion-button>


            <ion-button (click)="navigateTodefect(item.idQualityControl)"  style="--background: #bfd7ea; --color: #1b3a51; font-size: 20px;">
              <ion-icon name="warning" style="--color: #4d83ab;"></ion-icon>
            </ion-button>


            <ion-button routerLink="/details"  style="--background:#bfd7ea; --color: #1b3a51; font-size: 20px;">
              <ion-icon name="create" style="--color: #4d83ab;"></ion-icon>
            </ion-button>



            <ion-button routerLink="/decision" style="--background:#bfd7ea; --color: #1b3a51; font-size: 20px;">
              <ion-icon name="document" style="--color: #4d83ab;"></ion-icon>
            </ion-button>

          </div>


        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
</div>
