<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/mycontrol">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>Défaut</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()"  >
        <ion-icon slot="icon-only" name="save-outline" style="font-size: 2em; color: #f2eded;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card >
    <form (ngSubmit)="savedefect(controldefect.idControlDefect)">


    <ion-card-header>
      <div class="item-row">
        <div class="item-left">
          <ion-label position="floating">
            <ion-icon name="code-slash" style="color: rgb(255, 0, 132);"></ion-icon> code
          </ion-label>
          <ion-input  name="code" [(ngModel)]="controldefect.code" placeholder="Code" ></ion-input>
        </div>
        <div class="item-right">
          <ion-label position="floating">
            <ion-icon name="alert-circle" color="warning"></ion-icon> Défaut
          </ion-label>
          <ion-input name="description" [(ngModel)]="controldefect.description" placeholder="Défaut" ></ion-input>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content class="ion-title-left">
      <div class="item-row">
        <div class="item-left">
          <ion-label position="floating">
            <ion-icon name="pricetag" color="primary"></ion-icon> category

          </ion-label>
          <ion-input name="category" [(ngModel)]="controldefect.category" placeholder="category"></ion-input>
        </div>
        <div class="item-right">
          <ion-label position="floating">
            <ion-icon name="cube" style="color: blue;"></ion-icon> Quantité
          </ion-label>
          <ion-input  name="quantity" [(ngModel)]="controldefect.quantity" placeholder="Quantité"></ion-input>
        </div>
      </div>
        <ion-button type="submit" slot="end" fill="clear" color="danger"  class="button-spacing">
          <ion-icon slot="end" name="checkmark-circle" style="color: green; font-size: 2em;"></ion-icon>
                </ion-button>
      <ion-progress-bar [value]="0.5" color="custom"></ion-progress-bar>
    </ion-card-content>
  </form>
  </ion-card>


  <ion-card>
    <ion-item *ngFor="let item of allDefects; index as i">
      <ion-label class="item-label">
        <div class="flex-container">
          <div>
            <ion-checkbox style="color: blue" (ionChange)="toggleSelection(item)" [checked]="isDefectSelected(item)"></ion-checkbox>
          </div>
          <p>{{ item.category }}</p>
          <p>{{ item.code }}</p>
          <ion-button (click)="editDefect(item.idControlDefect)" fill="clear" color="primary" class="button-spacing">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="delete(item.idControlDefect)" slot="end" fill="clear" color="danger" class="button-spacing">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card >
    <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">image </h3>
    <ion-list>
      <ion-item *ngFor="let file of images; let i = index">
      <ion-thumbnail slot="start">
      <ion-img [src]="file.data"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
      {{ file.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" color="danger"  (click)="deleteImage(file)" >
      <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      </ion-item>
      </ion-list>
  </ion-card>


  <ion-card >
<h1>
</h1>
  </ion-card>



  <div class="blue-bar">
    <ion-icon name="camera" (click)="selectImage()" style="font-size: 2em; color: #fff;"></ion-icon>
  </div>
</ion-content>
