ion-header{
  ion-toolbar{
    --background: #4863A0;
    color: white;
  }
  .color{
    color: white;
  }
  }
  /* CSS personnalisé pour agrandir la taille du bouton */
.iconajouter {
  --padding-start: 20px; /* Espacement à gauche du bouton */
  --padding-end: 20px; /* Espacement à droite du bouton */
  font-size: 20px; /* Taille de la police */
  --min-height: 48px; /* Hauteur minimale du bouton */
  --border-radius: 12px; /* Rayon des coins du bouton */
}


/* CSS pour agrandir la taille des boutons */
ion-button {
  --padding-start: 10px; /* Espacement à gauche du bouton */
  --padding-end: 10px; /* Espacement à droite du bouton */
  font-size: 18px; /* Taille de la police des boutons */
  --min-height: 48px; /* Hauteur minimale du bouton */
  --border-radius: 12px; /* Rayon des coins du bouton */
}




table, th, td {
  padding: 1rem;
  text-align: left;
}
thead th {
  background-color: #eae8f1fe;
}


.item-details {
  padding: 20px; /* Espacement intérieur du contenu */
}

table {
  width: 100%; /* Table largeur 100% */
  border-collapse: collapse; /* Fusionner les bordures */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond des lignes paires */
}

tr:hover {
  background-color: #ddd; /* Couleur de fond au survol */
}

td {
  padding: 10px; /* Espacement intérieur des cellules */
}
.reference-text {
  font-weight: bold; /* Texte en gras */
}
.reference-value {
  font-weight: bold; /* Texte en gras */
}

.button-spacing {
  margin-left: 10px; /* Espacement entre les boutons */
}

ion-checkbox {
  margin-right: 10px; /* Espacement entre les cases à cocher et le texte */
}


















