<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/add-control">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>produits</ion-title>
    <ion-buttons slot="end">
      <ion-button class="iconajouter" routerLink="/add-produit">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content contentId="main-content" class="item-details">
  <table>
    <tr>
      <td> </td>
      <td>Reference </td>
      <td>Designatio</td>
      <td> </td>


    </tr>
    <tr *ngFor="let item of data; index as i ">
      <td>
        <ion-checkbox color="secondary"  (click) ="selectProduit(item)"></ion-checkbox>
      </td>
      <td class="reference-text">{{ item.reference }}</td>
      <td class="reference-value"> {{ item.designation}}</td>
      <td>
        <ion-button fill="clear" color="primary" (click)="update(item)"  class="button-spacing">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="delete(item.idProduit)" class="button-spacing">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </td>
    </tr>
  </table>
</ion-content>


