<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addchecklistprocess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addchecklistprocess</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>Ma Boîte de Dialogue</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeDialog()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ajout des champs de référence produit et description -->
  <ion-item>
    <ion-label position="stacked">category</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">requirement</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">state</ion-label>
    <ion-input placeholder="Enter description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">description</ion-label>
    <ion-input  placeholder="Select Description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">conformity</ion-label>
    <ion-input placeholder="Enter description"></ion-input>
  </ion-item>
</ion-content>
