<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-color">
    <ion-buttons slot="start">
      <ion-button routerLink="/checklistprocess">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ajouter Checklist De Processus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="my-form">
      <form (ngSubmit)="ajouterchecklist()">
        <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Exigence:</ion-label>
        <br>
        <ion-input type="text" name="requirement" [(ngModel)]="controlCheckList.requirement" required></ion-input>

        <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Categorie :</ion-label>
        <br>
        <ion-input type="text" name="category" [(ngModel)]="controlCheckList.category" required></ion-input>

        <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Etat :</ion-label>
        <br>
        <ion-input type="text" name="state" [(ngModel)]="controlCheckList.state" required></ion-input>



        <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Description :</ion-label>
        <br>
        <ion-input type="text" name="description" [(ngModel)]="controlCheckList.description" required></ion-input>

        <ion-button class="button" type="submit">Ajouter</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
