<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addchecklistprocess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ajout des champs de référence produit et description -->
  <ion-item>
    <ion-label position="stacked">category</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">requirement</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select
      class="always-flip"
      toggleIcon="caret-down-sharp"
      interface="popover"
      label="state"
      placeholder="Select state"
    >
      <ion-select-option value="apples">en cours </ion-select-option>
      <ion-select-option value="oranges">realisée</ion-select-option>
      <ion-select-option value="bananas">programée</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">description</ion-label>
    <ion-input placeholder="Select Description"></ion-input>
  </ion-item>
  <!-- Utilisation d'une liste de ion-select pour le champ conformity -->
  <ion-item>
    <ion-select label="conformity" [interfaceOptions]="customPopoverOptions" interface="conformity" placeholder="Select One">
      <ion-select-option value="brown">conforme</ion-select-option>
      <ion-select-option value="blonde">non conforme</ion-select-option>
      <ion-select-option value="red">conforme et efficace </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Bouton pour ajouter la checklist -->
  <ion-button (click)="addchecklistProcess()" expand="full">Ajouter Checklist</ion-button>
</ion-content>
