<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/add-audit">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button class="iconajouter" (click)="navigateToAddChecklistProcess()">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-details">
  <ion-list>
    <ion-item *ngFor="let item of data">
      <ion-label class="item-label">
        <div class="item-container">
          <div>
            <ion-checkbox color="secondary" (ionChange)="toggleSelection(item)" [checked]="isSelected(item)"></ion-checkbox>
          </div>
          <div>
            <p style="font-size: 18px; color: #4863A0;">Exigence :</p>
            <p style="font-size: 18px; color: black;">{{ item.requirement }}</p>
          </div>
          <div>
            <p style="font-size: 18px; color: #4863A0;">Catégorie :</p>
            <p style="font-size: 18px; color: black;">{{ item.category }}</p>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <ion-button (click)="saveSelectedChecklists()" class="my-form" expand="block" color="primary" type="submit"> valider</ion-button>
  </ion-list>
</ion-content>
