ion-header{
    ion-toolbar{
      --background: #4863A0;
      color: white;
    }
    .color{
      color: white;
    }
    }

    .my-form {
      --ion-color-primary: rgb(72, 99, 160); /* Couleur de fond */
      --ion-color-primary-contrast: #ffffff; /* Couleur du texte */
    }
    /* CSS personnalisé pour agrandir la taille du bouton */
  .iconajouter {
    --padding-start: 20px; /* Espacement à gauche du bouton */
    --padding-end: 20px; /* Espacement à droite du bouton */
    font-size: 20px; /* Taille de la police */
    --min-height: 48px; /* Hauteur minimale du bouton */
    --border-radius: 12px; /* Rayon des coins du bouton */
  }


  .item-container {
    padding: 10px;
    background-color: rgb(237, 235, 235);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  /* CSS pour agrandir la taille de l'écriture des balises <p> */
  .item-label p {
    font-size: 18px; /* Taille de la police des balises <p> */
  }

  /* CSS pour agrandir la taille des boutons */
  ion-button {
    --padding-start: 10px; /* Espacement à gauche du bouton */
    --padding-end: 10px; /* Espacement à droite du bouton */
    font-size: 18px; /* Taille de la police des boutons */
    --min-height: 48px; /* Hauteur minimale du bouton */
    --border-radius: 12px; /* Rayon des coins du bouton */
  }









