
ion-header{
  ion-toolbar{
    --background: #4863a0;
    color: white;
  }
.color{
  color: white;
}
}
/* Ajoutez ce code à votre fichier CSS global ou local */
/* Ajoutez ce code à votre fichier CSS global ou local */
.contact-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contact-info ion-icon {
  margin-right: 10px;
  font-size: 24px; /* Taille de l'icône */
  color: #007bff; /* Couleur de l'icône */
}

.contact-info a {
  color: #333; /* Couleur du texte */
  text-decoration: none; /* Supprimer le soulignement */
  font-size: 18px; /* Taille du texte */
}

.contact-info a:hover {
  text-decoration: underline; /* Souligner au survol */
}

