<div class="ion-page" id="main-content">
    <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/add-audit">
          <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
        </ion-button>
      </ion-buttons>
      <ion-title>Équipe d'audit</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-content">
    <ion-searchbar
    placeholder='saisir le nom utilisateur'
    [(ngModel)]="searchTerm"
    showCancelButton="focus"
    animated>
  </ion-searchbar>
    <ion-card *ngFor="let item of data | customFilter : searchTerm">
      <ion-item  >
        <ion-label class="item-label">
            <div class="flex-container">
                <p class="reference-text">Prénom:{{ item.firstName }}</p>
                <p class="reference-value">Nom: {{ item.lastName }}</p>
                <td><ion-checkbox color="secondary" (click) ="selectProcess(item.idUser)"></ion-checkbox></td>
              </div>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-content>

