ion-header{
  ion-toolbar{
    --background: #4863A0;
    color: white;
  }
.color{
  color: white;
}
}

ion-content {
  --ion-background-color: #f4f4f4;
  padding: 20px;
}

.item-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-title {
  font-weight: bold;
}

ion-item {
  margin-bottom: 15px;
}

.checkbox-container {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-label {
  margin-left: 5px;
}

/* Style for Description textarea */
ion-item textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
}

/* Adjustments for checkbox position */
ion-checkbox {
  margin-right: 8px;
}



/* Optional: Style for hover effect on checkboxes */
.checkbox-container:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.item-details .item-row {
  display: flex;
  justify-content: space-between;
}

/* Flexbox styles for item-left and item-right */
.item-details .item-left,
.item-details .item-right {
  width: 48%; /* Adjust as needed */
}
.red-text {
  color: red; /* Couleur rouge pour le texte */
  font-size: 10px;
}

.g-text {
  color: rgb(161, 158, 158); /* Couleur rouge pour le texte */
}

