
.custom-toolbar-color {
    --ion-background-color: #4863A0;
  }
  .custom-toolbar-color ion-title {
    color: #ffffff; /* Blanc */
  }
  .custom-toolbar-color ion-icon {
    color: #ffffff; /* Blanc */
  }
  .button {
    background-color: #4863A0;
    color: #ffffff; /* Blanc */
  }
