<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addprocess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ajout des champs de référence produit et description -->
  <ion-item>
    <ion-label position="stacked">nom</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">recommendation</ion-label>
    <ion-input placeholder="Enter product reference"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">weakness</ion-label>
    <ion-input placeholder="Enter description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label position="stacked">strength</ion-label>
      <ion-input  placeholder="Select Description"></ion-input>
    </ion-item>
    
  </ion-item>
  <ion-list>
    <ion-item routerLink="/checklistprocess">
      <ion-label>checklistprocess</ion-label>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon> <!-- Flèche -->
    </ion-item>
  </ion-list>
  <ion-button (click)="addProcess()" expand="block">Add Process</ion-button>
</ion-content>
