<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar-color" >
    <ion-title>Ajouter Un Processus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="my-form">
      <form (ngSubmit)=" ajouterProcesses()">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Nom du processus</ion-label>
            <ion-input type="text" name="nom" [(ngModel)]="auditprocesses.nom" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Recommendation</ion-label>
            <ion-input type="text" name="category" [(ngModel)]="auditprocesses.recommendation" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Point Fort</ion-label>
            <ion-input type="text" name="Famille" [(ngModel)]="auditprocesses.strength"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Point Faible</ion-label>
            <ion-input type="text" name="designation" [(ngModel)]="auditprocesses.weakness"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button class="button"  (click)="ajouterProcesses()"   type="submit">Ajouter</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

