<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/mycontrol">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveSelectedChecklists()">
        <ion-icon slot="icon-only" name="save-outline" style="font-size: 2em; color: #f2eded;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let item of data" >
    <ion-card-header>
      <ion-card-title style="font-size: 18px; color: #4863A0;">Category : <span style="color: black;">  {{item.checklist.category}}</span> </ion-card-title>
      <ion-card-subtitle style="font-size: 18px; color: #4863A0;"> Opération : <span style="color: black;"> {{item.checklist.operation}}</span>  </ion-card-subtitle>
      <ion-card-subtitle style="font-size: 18px; color: #4863A0;"> Criteria : <span style="color: black;"> {{item.checklist.criteria}}</span> </ion-card-subtitle>
      <ion-card-subtitle style="font-size: 18px; color: #4863A0;"> Measures : <span style="color: black;"> {{item.checklist.measures}}</span>   </ion-card-subtitle>
    </ion-card-header>


      <!-- (ionChange)="toggleSelection(item)" [checked]="isSelected(item)" -->

    <ion-card-content class="ion-title-left">
      <ion-radio-group  [(ngModel)]="item.selectedButton">
        <ion-radio  (click)="Conform(item)" name ="button" class="Conform" style= "font-size: 19px; color: #1eac08;">Conform </ion-radio>
        <ion-radio (click)="nonConform(item)" name ="button" class="nonConform" style= "font-size: 19px; color: #db0a0a;">Non Conform </ion-radio>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <div  class="blue-bar">
    <ion-icon  name="camera" style="font-size: 2em; color: #fff;"> </ion-icon>
    <ion-icon name="mic" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="image" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="videocam" style="font-size: 2em; color: #fff;"></ion-icon>
  </div>
</ion-content>
