ion-content{
  --background: linear-gradient(90deg , #87AFC7 0%, #98AFC7,35% , #98AFC7 100%);
}

ion-item {
  --padding-start: 15px; /* Marge à gauche pour l'icône */
  --inner-padding-end: 15px; /* Espace à droite pour le contenu */
}

/* Pour ajuster la taille de l'icône */
ion-icon {
  --ionicon-stroke-width: 24px; /* Taille de l'icône */
  --ionicon-color: var(--ion-color-primary); /* Couleur de l'icône */
}

.item-row {
  display: flex;
  justify-content: space-between;
}

 .item-left,
 .item-right {
  width: 48%;
 }

ion-card{

  max-height: 550px; /* Ajustez selon votre préférence */
  overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
}




.blue-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0054e9;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.icon-row {
  display: flex;
  align-items: center; /* Alignement vertical au centre */
  --size: 32px;

}
/* Dans votre fichier global.scss ou dans le fichier de style de votre composant */
.ion-activated {
  --inner-checked-size: 32px; /* Taille de la checkbox cochée */
  --inner-unchecked-size: 32px; /* Taille de la checkbox non cochée */
  --knob-background: var(--ion-color-primary); /* Couleur de fond de la checkbox cochée */
  --knob-background-checked: var(--ion-color-primary); /* Couleur de fond de la checkbox cochée */
  --knob-background-unchecked: var(--ion-color-secondary); /* Couleur de fond de la checkbox non cochée */
  --knob-box-shadow-checked: none; /* Supprime l'ombre de la checkbox cochée */
  --knob-box-shadow-unchecked: none; /* Supprime l'ombre de la checkbox non cochée */
}


.text {
  color: rgb(10, 10, 10); /* Couleur rouge pour le texte */
  font-size: 20px;
}


.custom-toast {
  --background: #0aafe2;
  --color: #fff;
  --border-radius: 10px;
  --padding: 16px;
  --max-width: 300px;
  --box-shadow: 0 4px 8px rgba(236, 117, 117, 0.3);
}

