<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/mycontrol">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updatChecklist()">
        <ion-icon slot="icon-only" name="save-outline" style="font-size: 2em; color: #f2eded;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <!-- *ngFor="let item of checklistData" -->
  <ion-card >
    <ion-card-header>
      <ion-card-title class="text" >item.category</ion-card-title>
      <ion-card-subtitle class="text"> item.operation </ion-card-subtitle>
      <ion-card-subtitle class="text"> item.criteria</ion-card-subtitle>
      <ion-card-subtitle class="text"> item.controlTypeStr </ion-card-subtitle>

    </ion-card-header>

  <ion-card-content class="ion-title-left">


      <button (click)="Conform()" class="tick-btn" (click)="toggleTick()">
        <ion-icon [name]="tickClicked ? 'checkbox-outline' : 'checkmark-outline'" style="font-size: 4em; color: green; margin-left: 30px;"></ion-icon>
      </button>
      <button (click)="nonConform()" class="cross-btn" (click)="toggleCross()">
        <ion-icon [name]="crossClicked ? 'close-circle-outline' : 'checkbox-outline'" style="font-size: 4em; color: red; margin-left: 30px;"></ion-icon>
      </button>





      <!-- (click)="NonConform(item)" -->


      <!-- (click)="Conform(item)" -->


  </ion-card-content>
  </ion-card>

  <div  class="blue-bar">
    <ion-icon  name="camera" style="font-size: 2em; color: #fff;"> </ion-icon>
    <ion-icon name="mic" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="image" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="videocam" style="font-size: 2em; color: #fff;"></ion-icon>
  </div>




</ion-content>
