<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/add-audit">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>liste des processus</ion-title>
    <ion-buttons slot="end">
      <ion-button  routerLink="/addprocess">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="item-details">

  <ion-list>
    <ion-item *ngFor="let item of data; index as i">

      <ion-label>
        <ion-checkbox color="secondary" (click) ="selectProcess(item)"></ion-checkbox>
        <div>
          <p style="font-size: 18px; color: #4863A0;">Nom du processus :</p>
          <p style="font-size: 18px; color: black;">{{ item.nom }}</p>
        </div>
        <div>
          <p style="font-size: 18px; color: #4863A0;">Recommendation :</p>
          <p style="font-size: 18px; color: black;">{{ item.recommendation }}</p>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="update(item)" color="primary">
          <ion-icon name="create" style="font-size: 24px;"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="delete(item.idProcess)" color="danger">
          <ion-icon name="trash" style="font-size: 24px;"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>
</ion-content>

