<ion-content>
  <div id="header">
    <div id="ap-bar">
      <div id="logo">
        <img src="assets/logo.png" alt="" />
      </div>
      <div></div>
    </div>
    <h1>Login to your workspace</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <form (ngSubmit)="setItem()">
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input placeholder="Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Sign in</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <div class="lines-text"></div>
  </div>
</ion-content>
