<ion-content>
  <div id="header">
    <div id="app-bar">

      <div id="logo">
        <img src="../assets/qalitas.jpeg" alt="">
      </div>
      <div></div>
    </div>
    <h1>Connectez-vous à votre compte</h1>
  </div>
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <form>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input placeholder="saisir votre Email" name="email" [(ngModel)]="credentials.email" required email
                       #email="ngModel"></ion-input>
          </ion-item>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <div style="color: red;" *ngIf="email.errors?.['required']">Email est requis.</div>
            <div style="color: red;" *ngIf="email.errors?.['email']">Email n'est pas valide.</div>
          </div>

          <ion-item>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input placeholder="Mot de passe" type="password" name="password" [(ngModel)]="credentials.password"
                       required minlength="6" #password="ngModel"></ion-input>
          </ion-item>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
            <div style="color: red;" *ngIf="password.errors?.['required']">Mot de passe est requis.</div>
            <div style="color: red;" *ngIf="password.errors?.['minlength']">Mot de passe doit avoir au moins 6
              caractères.
            </div>
          </div>
          <ion-button (click)="onLogin()" type="button" expand="block">Sign in</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="lines-text"></div>
  </div>
</ion-content>
