/* Styles pour le header */
ion-header {
  ion-toolbar {
    --background: #4863A0; /* Couleur de fond du header */
    color: white; /* Couleur du texte */
  }
}
/* Styles CSS pour colorer les noms de champs en bleu */
ion-label {
  color: blue; /* Change la couleur du texte en bleu */
}

.custom-item.custom-item-1 {
  --background: #c7b0e6; /* Couleur de fond du premier élément */
  --color: black; /* Couleur du texte */
}

.custom-item.custom-item-2 {
  --background: #90caf9; /* Couleur de fond du deuxième élément */
  --color: black; /* Couleur du texte */
}

.custom-item:hover {
  --background: #a997cc; /* Couleur de fond au survol */
}
.custom-item ion-icon {
  color: black; /* Couleur de l'icône */
}
ion-title {
  color: #4863A0; /* Change la couleur du texte en bleu */
}
/* Styles CSS pour colorer le bouton en bleu */
.custom-add-button {
  --background: #4863A0; /* Couleur de fond bleue */
  --color: white; /* Couleur du texte blanche */
}
