<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajout un nouvel control
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="color" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Ajout des champs de référence produit et description -->
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="barcode" slot="start" class="custom-icon"></ion-icon> Reference
      </ion-label>
      <ion-input placeholder="Enter product reference" class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="cube" slot="start" class="custom-icon"></ion-icon> Produit
      </ion-label>
      <ion-input placeholder="Enter Produit" class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="pencil" slot="start" class="custom-icon"></ion-icon> Description
      </ion-label>
      <ion-input placeholder="Enter description" class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="link" slot="start" class="custom-icon"></ion-icon> Chaine
      </ion-label>
      <ion-input placeholder="Enter Chaine" class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="custom-label">Date</ion-label>
      <ion-input #dateInput type="date" placeholder="Select Date" class="custom-input"></ion-input>
    </ion-item>




  <!-- Listes de contrôle -->
  <ion-toolbar>
    <ion-title>

      <ion-icon name="clipboard-outline"></ion-icon> Quality Control
    </ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item routerLink="/checklist">
      <ion-label>
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        Check Lists
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-button (click)="navigateToResults()">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon> <!-- Flèche -->
    </ion-item>

    <ion-item routerLink="/defaut">
      <ion-label>
        <ion-icon name="alert-circle-outline"></ion-icon>
        Defects
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-button (click)="navigateToResults()">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
        Documents
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-button (click)="navigateToResults()">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="clipboard-outline"></ion-icon>
        Criteria to Control
      </ion-label>
      <ion-toggle></ion-toggle>
      <ion-button (click)="navigateToResults()">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Résultats du contrôle qualité -->
  <ion-toolbar>
    <ion-title>
      <ion-icon name="stats-chart-outline"></ion-icon>
      Results
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>
        Q1 &nbsp; &nbsp; &nbsp; Q2 &nbsp; &nbsp; &nbsp; Q3
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="document-outline"></ion-icon>
      Files
    </ion-title>
    <ion-icon name="arrow-forward-outline" slot="end" class="arrow-icon"></ion-icon>
  </ion-toolbar>
</ion-content>
