ion-header{
  ion-toolbar{
    --background: #4863A0;
    color: white;
  }
  .color{
    color: white;
  }
  }

/* Style pour l'en-tête */
ion-toolbar {
  display: flex; /* Utilisation de Flexbox pour aligner les éléments */
  justify-content: space-between; /* Aligner le titre à gauche et les boutons à droite */
  align-items: center; /* Centrer verticalement les éléments */
}

/* Style pour le titre */
.title {
  margin-left: 10px; /* Ajouter un peu d'espace à gauche du titre */
}

/* Style pour le bouton */
ion-button {
  margin-right: 10px; /* Ajouter un peu d'espace à droite du bouton */
}


.custom-icon {
  color: #007bff; /* Couleur des icônes */
  font-size: 1.2rem; /* Taille des icônes */
}
