<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajouter un Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="my-form">
      <form (ngSubmit)="ajouterProduit()">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Référence</ion-label>
            <ion-input type="text" name="reference" [(ngModel)]="produit.reference" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Catégorie</ion-label>
            <ion-input type="text" name="category" [(ngModel)]="produit.category" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Famille</ion-label>
            <ion-input type="text" name="Famille" [(ngModel)]="produit.Famille"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Désignation</ion-label>
            <ion-input type="text" name="designation" [(ngModel)]="produit.designation"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit">Ajouter</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
