<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les contrôles</ion-title>
      <ion-buttons slot="end">
        <ion-button class="iconajouter" routerLink="/add-control">
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content contentId="main-content" class="item-details">


    <ion-list>
    
      <ion-icon (click)="sortByDate()" class="icon-blue icon-right"  name="arrow-up"></ion-icon>
      <ion-icon (click)="sortOldDatesFirst()" class="icon-blue icon-right"  name="arrow-down"></ion-icon>

    <ion-item *ngFor="let item of data index as i">
      <ion-label class="item-label">
          <div class="item-container">
            <div class="flex-container">
              <div class="item-header">
                <div class="item-title"  style="color: #4863A0;"> Référence : <span style="color: black;"> {{ item.reference }} </span></div>
              </div>
                  <p style="font-size: 18px; color: #4863A0;">Référence interne: <span style="color: black;">{{ item.internalReference}}</span> </p>
                  <p class="red-text" style="font-size: 18px; color: #4863A0;" > Description : <span style="color: black;"> {{item.description}} </span>  </p>
                </div>
                  <p  style="font-size: 18px; color: #4863A0;"> Etat : <span style="color: black;"> {{item.state}}</span>  </p>
                  <p class="red-text"  style="font-size: 18px; color: #4863A0;">Date : <span style="color: black;">{{item.date}} </span>  </p>
                <ion-button fill="clear" color="danger" (click)="delete(item.idQualityControl)" class="button-spacing">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
