<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/my-audit">
        <ion-icon slot="icon-only" name="arrow-back" style="--color: #4d83ab;"></ion-icon> <!-- Icône de flèche -->
      </ion-button>
    </ion-buttons>
    <ion-title>Checklist de processus</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="updatChecklist()">
        <ion-icon slot="icon-only" name="save-outline" style="font-size: 2em; color: #f2eded;"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data; index as i">
      <ion-label class="item-label">
        <div class="item-container">
          <div class="flex-container">
            <div style="display: flex; align-items: center;">
              <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">Requirement:</p>
              <p style="font-size: 18px; color: black; margin-right: 20px;">{{ item.checklist.requirement }}</p>
            </div>
            <div style="display: flex; align-items: center;">
              <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">Category:</p>
              <p style="font-size: 18px; color: black; margin-right: 20px;">{{ item.checklist.category }}</p>
            </div>
            <div style="display: flex; align-items: center;">
              <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">Etat:</p>
              <p  style="font-size: 18px; color: black; margin-right: 20px;">{{ item.checklist.state }}</p> 
            </div>
            <div style="display: flex; align-items: center;">
              <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">Description:</p>
              <p  style="font-size: 18px; color: black; margin-right: 20px;">{{ item.checklist.description }}</p>
            </div>
          </div>
          <ion-button (click)="markAs(item.checklist.idProcessChecklist)" color="success">Conforme</ion-button>
        <ion-button (click)="MarkAs(item.checklist.idProcessChecklist)"  color="danger">Non Conforme</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>