*{
  font-family: lato;
  }
  .menu-header-bg {
  height: 180px;
  width: 350px;
  background: #7590d6;
  background: linear-gradient(90deg, #7590d6 0%, #4863A0 100%);
  box-shadow: 0px 1px 10px ☐ #4863A0;
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -60px;
  margin-bottom: 60px;
  }
  .header-content {
      position: absolute;
      top: 30px;
      left: 15px;
      display: flex;
      align-items: center;

      img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 7px solid #5e7ccc;
      margin-right: 14px ;
      }
      h2 {
      font-weight: 300;
      color:#fff;

      P{
          font-size: 12px;
          color: #fff;
          font-weight: 100;
          letter-spacing: 0.4px;
      }}}

      .action-button{
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          ion-button {
          text-transform: capitalize;
          font-weight: 4000;
          --background: #4863A0;
          --border-radius: 7px;
          --box-shadow: none;
          }

          ion-icon{
            margin-right:1px;
          }}


        .menu-items {
          margin: 0px;

            ion-icon {
              margin-right: 20px;
              color: #86979f;
          }
          ion-item {
          padding-left: 5px;
          margin-bottom: 10px;
          }

          .active {
              border-left: 5px solid;
              color: #628cff;
              padding-left: 15px;
              ion-icon {
              color: #628cff;}}

      }
      .menu-icons ion-icon {
        color: #4863A0; /* Couleur bleue pour les icônes */
      }



ion-header{
  ion-toolbar{
    --background: #4863a0;
    color: white;
  }
.color{
  color: white;
}
}
.data-card {
  border-radius: 10px;
  margin-bottom: 20px;
}

.data-card-1 {
  background-color: #ffcccc; /* Rouge clair */
}

.data-card-2 {
  background-color: #ccffcc; /* Vert clair */
}

.data-card-3 {
  background-color: #ccccff; /* Bleu clair */
}

.data-card-4 {
  background-color: #ffffcc; /* Jaune clair */
}
/* Style général pour le contenu */
ion-content {
  background-color: #f4f4f4; /* Couleur de fond */
}

/* Conteneur des statistiques */
.statistic-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style des éléments statistiques */
.statistic-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-basis: calc(50% - 10px);
}

/* Titre des statistiques */
.statistic-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Valeur des statistiques */
.statistic-value {
  font-size: 24px;
  font-weight: bold;
}

/* Libellé des statistiques */
.statistic-label {
  font-size: 14px;
  color: #666;
}
/* Couleurs spécifiques */
.statistic-container:nth-child(odd) .statistic-item {
  background-color: #d3caf7; /* Rouge clair */
}

.statistic-container:nth-child(even) .statistic-item {
  background-color: #ffa8cc; /* Bleu clair */
}
