  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tableau de bord</ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content class="ion-padding">

    <ion-content class="ion-padding">
      <div class="statistic-container">
        <div class="statistic-item">
          <div class="statistic-title">Statistiques des produits</div>
          <div class="statistic-value">{{ produitsStatistiques.length }}</div>
          <div class="statistic-label">Nombre total de produits</div>
        </div>
        <div class="statistic-item">
          <div class="statistic-title">Statistiques des processus</div>
          <div class="statistic-value">{{ processusStatistiques.length }}</div>
          <div class="statistic-label">Nombre total de processus</div>
        </div>
      </div>
      <div class="statistic-container">
        <div class="statistic-item">
          <div class="statistic-title">Statistiques des audits</div>
          <div class="statistic-value">{{ controleStatistiques.length }}</div>
          <div class="statistic-label">Nombre total de produits</div>
        </div>
        <div class="statistic-item">
          <div class="statistic-title">Statistiques des controles</div>
          <div class="statistic-value">{{ auditStatistiques.length }}</div>
          <div class="statistic-label">Nombre total de processus</div>
        </div>
      </div>
    </ion-content>



  </ion-content>

