<ion-header>
  <ion-toolbar>
    <ion-title>Contrôles Qualités</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="color" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="item-details">
  <ion-list>
    <!-- *ngFor="let item of data; index as i " -->
    <ion-item  >
      <ion-label class="item-label">
        <div class="item-container">
          <div class="item-header">
            <div class="item-title"> item.stateStr</div>
          </div>
          <div class="item-row">
            <div class="item-left">
              <p>item.reference </p>
              <p class="red-text">item.internalReference</p>
            </div>
            <div class="item-right">
              <p> item.date </p>
              <p class="red-text"> item.productFamilyId </p>
            </div>

          </div>

          <div>

            <ion-button routerLink="/control-checklist" style="--background:#bfd7ea; --color: #1b3a51;">
              <ion-icon name="list" style="--color: #4d83ab;"></ion-icon>
            </ion-button>


            <ion-button routerLink="/control-defect"  style="--background: #bfd7ea; --color: #1b3a51;">
              <ion-icon name="warning" style="--color: #4d83ab;"></ion-icon>
            </ion-button>


            <ion-button routerLink="/decision" style="--background:#bfd7ea; --color: #1b3a51;">
              <ion-icon name="create" style="--color: #4d83ab;"></ion-icon> <!-- Utilisez le nom d'icône "create" pour le bouton "Modifier" -->
            </ion-button>
            <ion-button routerLink="/team" style="--background:#bfd7ea; --color: #1b3a51;">
              <ion-icon name="people" style="--color: #4d83ab;"></ion-icon> <!-- Utilisez le nom d'icône "people" pour le bouton "Team" -->
            </ion-button>
            <ion-button routerLink="/file" style="--background:#bfd7ea; --color: #1b3a51;">
              <ion-icon name="chatbubbles" style="--color: #4d83ab;"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
