<ion-header>
  <ion-toolbar>
    <ion-title class="title">Defects</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="barcode" slot="start" class="custom-icon"></ion-icon> category
      </ion-label>
      <ion-input  class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="cube" slot="start" class="custom-icon"></ion-icon> critéres
      </ion-label>
      <ion-input  class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="pencil" slot="start" class="custom-icon"></ion-icon> operation
      </ion-label>
      <ion-input  class="custom-input"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="link" slot="start" class="custom-icon"></ion-icon> Exigences
      </ion-label>
      <ion-input class="custom-input"></ion-input>
    </ion-item>

</ion-content>
