<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card  *ngFor="let item of checklistData">
    <ion-card-header>
      <ion-card-title>{{ item.category}}</ion-card-title>
      <ion-card-subtitle>{{ item.operation }}</ion-card-subtitle>
      <ion-card-subtitle>{{ item.criteria}}</ion-card-subtitle>
      <ion-card-subtitle>{{ item.controlTypeStr }}</ion-card-subtitle>

    </ion-card-header>

  <ion-card-content class="ion-title-left">

    <div class="icon-row">
      <ion-icon name="document-text-outline" style="font-size: 2em; color: #81adf0; margin-left: 20px;"></ion-icon>
      <ion-icon name="qr-code-outline" style="font-size: 2em; color: #000; margin-left: 30px;"></ion-icon>
      <ion-icon name="close-circle-outline" style="font-size: 2em; color: #f00; margin-left: 30px;"></ion-icon>
      <ion-checkbox class="custom-checkbox" color="primary"></ion-checkbox>
      <ion-checkbox class="custom-checkbox" color="secondary"></ion-checkbox>
      <ion-checkbox class="custom-checkbox" color="tertiary"></ion-checkbox>
    </div>

    <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
  </ion-card-content>
  </ion-card>


  <div  class="blue-bar">
    <ion-icon (click)="captureVideo()" name="camera" style="font-size: 2em; color: #fff;"> </ion-icon>
    <ion-icon name="mic" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="image" style="font-size: 2em; color: #fff;"></ion-icon>
    <ion-icon name="videocam" style="font-size: 2em; color: #fff;"></ion-icon>
  </div>

</ion-content>
