<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/user">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Ajouter utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="my-form">
      <form [formGroup]="userForm" (ngSubmit)="ajouterUser()">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Prénom </ion-label>
            <ion-input type="text" formControlName="firstName" [(ngModel)]="user.firstName" required></ion-input>
            <div slot="error"*ngIf="userForm.controls['firstName'].errors && userForm.controls['firstName'].touched">
              Le prénom est requis            </div>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Nom</ion-label>
            <ion-input type="text" formControlName="lastName" [(ngModel)]="user.lastName" required></ion-input>
            <div slot="error"*ngIf="userForm.controls['lastName'].errors && userForm.controls['lastName'].touched">
              Le nom de famille est obligatoire
            </div>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Matricule</ion-label>
            <ion-input type="text" formControlName="matricule" [(ngModel)]="user.matricule"></ion-input>
            <div slot="error"*ngIf="userForm.controls['matricule'].errors && userForm.controls['matricule'].touched">
              Matricule est obligatoire
            </div>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Mot de passe</ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="user.password"></ion-input>
            <div slot="error"*ngIf="userForm.controls['password'].errors && userForm.controls['password'].touched">
              Le mot de passe est obligatoire
            </div>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked" class="ion-text" style="font-size: 25px;">Email</ion-label>
            <ion-input type="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
            <div slot="error"*ngIf="userForm.controls['email'].errors && userForm.controls['email'].touched">
              L'email est obligatoire
          </div>
    </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit">Ajouter</ion-button>
          </ion-col>
        </ion-row>
  </form>
    </ion-card-content>
  </ion-card>
</ion-content>
