<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les Audits</ion-title>
      <ion-buttons slot="end">
        <ion-button class="iconajouter" routerLink="/add-audit">
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="item-details">
    <ion-list>
      <ion-item *ngFor="let item of data; index as i " >
        <ion-label class="item-label">
          <div class="item-container">
            <div class="flex-container">
              <div style="display: flex; align-items: center;">
                <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">Reférence:</p>
                <p style="font-size: 18px; color: black; margin-right: 20px;">{{ item.reference }}</p>
              </div>
              <div style="display: flex; align-items: center;">
                <p style="font-size: 18px; color: #4863A0; margin-right: 10px;">État :</p>
                <p style="font-size: 18px; color: black; margin-right: 20px;">{{ item.state }}</p>
                <ion-button fill="clear" color="danger" (click)="delete(item.idAudit)" class="button-spacing" style="margin-right: 18px;">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </div>

            </div>
          </div>

        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
